.bg-brown {
    background-color: #ceab93;
}

.btn-brown {
    background-color: #ad8b73;
}

.btn-brown:hover {
    background-color: #7c684a;
}

.btn-logout {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.01em;
    color: #ffffff;
    background: #ef1327;
    border-radius: 10px;
    width: 131px;
    height: 39px;
    /* margin-left: 15px; */
}

.profile {
    width: 162px;
    height: 30px;
    background: #ffffff;
    text-align: center;
    /* border-radius: 20px 20px 0px 0px; */
}

.dropdown-item {
    height: 35px;
    background: #ffffff;
    text-align: center;
}

.bariz1 {
    width: 40px;
    height: 40px;
}

.dropdown-menu {
    /* height: 196px; */
    background: #ffffff;
    border: 1px solid #272722;
    border-radius: 10px 10px 10px 10px;
    padding-top: 0px;
}

.menu {
    text-decoration: none;
    display: inline-block;
    color: white;
}

.menu:hover {
    color: #7c684a;
}
